@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    animation: fadeIn 1.5s;
}

.bold-text-mid{
    font-weight: 600; /* Adjust the number to make it bolder */
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}